*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
    background-color: rgb(37, 36, 36);
}


body {
    display: flex;
    flex-direction: column;
    align-content: flex-start
}


.square {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(117, 194, 130);
}

#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    background-color: white;
}