/* Reset de márgenes y padding del body y html */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden; /* Evita que aparezca la barra de desplazamiento */
    background-color: rgb(37, 36, 36);
}


body {
    display: flex;
    flex-direction: column;
    align-content:flex-start
}

/*.square {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    background-color: red;
    border: 1px solid black;
}
*/
.square {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: rgb(117, 194, 130);
}

#container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    height: 480px;
    background-color: white;
}